**Key questions**

-  how much these customer's really willing to pay for what you're selling?



**Key Answers**

- Calculating willingness to pay can give companies information on exactly how much they can price for a utility change.

## Willingness to pay from survey. 

`keywords`: Pricing strategy 

Context as a customer you are looking to buy some new carbon wheel for your bike. You found a pair of wheel at a price of 
150 , first reaction would be this is to cheap for some carbon wheel they must be of really poor quality.


As pricing analyst you are task with goal of setting the price of a new pair of carbon wheel the idea is to conduct a survey and ask people how much they are willing to pay for some good carbon wheel.



First step Data collection:

Survey no.1: At what price the carbon wheel would be so inexpensive that you would doubt it's quality. Now, what is that mean?

In [187]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

### Sample response of minimum price 

> Represents accetable low price.

In [247]:
np.random.seed(7)
range_price = np.linspace(400,2000,9)
result_survey = np.random.choice(range_price,3_000)

data = pd.DataFrame({'minimum_price':range_price})

# data['frequency']

data = np.unique(result_survey, return_counts=True)
data = pd.DataFrame(np.asarray(data).T,columns=['minimum_price','frequency'])
data['percentage_pct']=data['frequency'] *100 / data['frequency'].sum()
data=data.sort_values(by=['minimum_price'])
data['cumsum_pct'] = data['percentage_pct'].cumsum()

print("\nSample response of minimum price ie represents accetable low price.\n\n")

display(data)

Sample response of minimum price ie represents accetable low price.

   minimum_price  frequency  percentage_pct  cumsum_pct
0          400.0      367.0       12.233333   12.233333
1          600.0      318.0       10.600000   22.833333
2          800.0      317.0       10.566667   33.400000
3         1000.0      331.0       11.033333   44.433333
4         1200.0      324.0       10.800000   55.233333
5         1400.0      339.0       11.300000   66.533333
6         1600.0      333.0       11.100000   77.633333
7         1800.0      351.0       11.700000   89.333333
8         2000.0      320.0       10.666667  100.000000

**Survey results**

> Let's look at 1400.0	 and that's about 69.95%. What does that mean? It means for 69.95% of your target population 1400.0 is an acceptably low price.

### Sample response at maximum price

> Price at which product not worth buying

In [257]:
np.random.seed(7)

range_price = np.linspace(800,4000,17)
result_survey = np.random.choice(range_price,3_000)


# data['frequency']

data_max = np.unique(result_survey, return_counts=True)
data_max = pd.DataFrame(np.asarray(data_max).T,columns=['max_price','frequency_max'])
data_max['max_price_percentage_pct']=data_max['frequency_max'] *100 / data_max['frequency_max'].sum()
data_max=data_max.sort_values(by=['max_price'])
data_max['cumsum_pct_max'] = data_max['max_price_percentage_pct'].cumsum()


print("Sample response at which product not worth buying")

display(data_max)

Sample response at which product not worth buying

    max_price  frequency_max  max_price_percentage_pct  cumsum_pct_max
0       800.0          188.0                  6.266667        6.266667
1      1000.0          152.0                  5.066667       11.333333
2      1200.0          167.0                  5.566667       16.900000
3      1400.0          189.0                  6.300000       23.200000
4      1600.0          167.0                  5.566667       28.766667
5      1800.0          168.0                  5.600000       34.366667
6      2000.0          171.0                  5.700000       40.066667
7      2200.0          186.0                  6.200000       46.266667
8      2400.0          164.0                  5.466667       51.733333
9      2600.0          173.0                  5.766667       57.500000
10     2800.0          203.0                  6.766667       64.266667
11     3000.0          174.0                  5.800000       70.066667
12     3200.0          165.0                  5.500000       75.566667
13     3400.0          183.0                  6.100000       81.666667
14     3600.0          183.0                  6.100000       87.766667
15     3800.0          175.0                  5.833333       93.600000
16     4000.0          192.0                  6.400000      100.000000

### Combined survey data

this data gives you : 

-  The percentage of people who feel the price is not too low.
-  The percentage of people who feel the price is to high

Based on this data we can get peoples willingness to pay and the number of people that would pay that

In [258]:
datum = []
for e in data.to_dict(orient='records'):
    res = {}
    res['price'] = e['minimum_price']
    # res['frequency'] = e['frequency']
    # res['min_price_percentage_pct'] = e['percentage_pct']
    # res['max_price_percentage_pct'] =  max_price_res['max_price_percentage_pct']
    res['min_price_cumsum'] = e['cumsum_pct']
    if e['minimum_price'] in data_max['max_price'].unique():
        max_price_res = data_max[data_max['max_price'] == e['minimum_price']].to_dict(orient='records')[0]
        res['max_price_cumsum'] = max_price_res['cumsum_pct_max']
        
        
       
    else:
        # res['max_price_percentage_pct'] = 0
        res['max_price_cumsum'] = 0
    
    res['willing_to_pay'] = np.absolute(res['min_price_cumsum'] - res['max_price_cumsum'])

    datum.append(res)



for e in data_max.to_dict(orient='records'):
    if e['max_price'] not in data['minimum_price'].unique():
        res = {}
        res['price'] = e['max_price']
        # res['frequency'] = e['frequency_max']
        # res['min_price_percentage_pct'] = 0
        # res['max_price_percentage_pct'] =  max_price_res['max_price_percentage_pct']
        res['max_price_cumsum'] = e['cumsum_pct_max']
        res['min_price_cumsum' ]= 100
        res['willing_to_pay'] = res['min_price_cumsum'] - res['max_price_cumsum']

        datum.append(res)
    
datum = pd.DataFrame(datum).round()
datum

     price  min_price_cumsum  max_price_cumsum  willing_to_pay
0    400.0              12.0               0.0            12.0
1    600.0              23.0               0.0            23.0
2    800.0              33.0               6.0            27.0
3   1000.0              44.0              11.0            33.0
4   1200.0              55.0              17.0            38.0
5   1400.0              67.0              23.0            43.0
6   1600.0              78.0              29.0            49.0
7   1800.0              89.0              34.0            55.0
8   2000.0             100.0              40.0            60.0
9   2200.0             100.0              46.0            54.0
10  2400.0             100.0              52.0            48.0
11  2600.0             100.0              58.0            42.0
12  2800.0             100.0              64.0            36.0
13  3000.0             100.0              70.0            30.0
14  3200.0             100.0              76.0            24.0
15  3400.0             100.0              82.0            18.0
16  3600.0             100.0              88.0            12.0
17  3800.0             100.0              94.0             6.0
18  4000.0             100.0             100.0             0.0

#### Interpreting results

> This means that 33% of the target population finds 1000 EUR to be an acceptable price: it's not so low that they would consider the quality poor, nor too high to deter them from purchasing if they otherwise like the product.

### Factor in cost 

The previous data is incomplete as it doesn't account for the production cost of the wheel. Therefore, we need to incorporate some business financials:



-  Assume the cost of producing the wheel is 700 EUR.
  
-  Margin is calculated by subtracting the cost from the selling price.
  $$margin = price - cost$$

- Profit is determined by multiplying the margin by the cumulative percentage of people willing to pay that specific price.
  $$ profit = margin * cumsum_{rightPrice}$$

In [259]:
def highlight_max(s):
    is_max = s == s.max()
    return ['background-color: yellow; color: red;' if v else '' for v in is_max]



datum['cost'] = 700
datum['margin'] = (datum['price'] - datum['cost'])
datum['profit'] = datum['margin'] * datum['willing_to_pay']/100
styled_datum = datum.style.apply(highlight_max, subset=['profit'])
styled_datum

### Results

Based on the survey data and our indirect approach to assessing willingness to pay, the data suggests that the optimal price, given a cost of 700 EUR, would be 2400 EUR. This method proves more effective than directly asking people how much they’d be willing to pay.

*****
> ⚠️ REMEMBER THIS IS PURELY SYHNTHETIC DATA AND DO NOT REFLECT REALITY

## Willingness to pay from conjoint analysis

In [20]:
# Define attributes and levels
attributes = {
    "capacity_oz": [18, 24, 30, 36],
    "cost_dollar": [25, 32, 45, 50],
    "cold_retention_h": [6, 12, 18, 24],
    "product_name": [f'product_{i}' for i in range(1,5)]
}

# Create a list of all possible product profiles
product_profiles = pd.DataFrame(attributes
)


product_profiles

   capacity_oz  cost_dollar  cold_retention_h product_name
0           18           25                 6    product_1
1           24           32                12    product_2
2           30           45                18    product_3
3           36           50                24    product_4

###  Collect preference data 

- synthethic data : Generate integer preference data on a scale of 1 to 5 for 100 respondents

In [24]:
num_respondents = 100

preferences = pd.DataFrame(
    np.random.randint(1, 6, size=(num_respondents, len(product_profiles))),
    columns=product_profiles['product_name'].unique()
)
display(preferences)

    product_1  product_2  product_3  product_4
0           4          4          2          2
1           2          4          1          1
2           2          5          1          4
3           3          3          3          5
4           2          4          5          4
..        ...        ...        ...        ...
95          1          1          2          1
96          3          3          3          2
97          3          1          4          4
98          5          1          3          4
99          1          4          3          4

[100 rows x 4 columns]

In [42]:
# Reshape the preferences data for analysis
preferences_long = preferences.melt(var_name='profile', value_name='preference')
preferences_long = preferences_long.sort_values(by='profile').reset_index(drop=True)

# Merge the preferences with the product profiles
preferences_long = preferences_long.merge(
    product_profiles, left_on='profile', 
    right_on='product_name'
)

display(preferences_long)

,profile,preference,capacity_oz,cost_dollar,cold_retention_h,product_name
0,product_1,4,18,25,6,product_1
1,product_1,3,18,25,6,product_1
2,product_1,3,18,25,6,product_1
3,product_1,2,18,25,6,product_1
4,product_1,5,18,25,6,product_1
...,...,...,...,...,...,...
395,product_4,3,36,50,24,product_4
396,product_4,4,36,50,24,product_4
397,product_4,1,36,50,24,product_4
398,product_4,5,36,50,24,product_4
399,product_4,4,36,50,24,product_4

In [37]:
# One-hot encode the attributes
preferences_encoded = pd.get_dummies(preferences_long.drop(columns=['profile','product_name']))
preferences_encoded

     preference  capacity_oz  cost_dollar  cold_retention_h
0             4           18           25                 6
1             3           18           25                 6
2             3           18           25                 6
3             2           18           25                 6
4             5           18           25                 6
..          ...          ...          ...               ...
395           3           36           50                24
396           4           36           50                24
397           1           36           50                24
398           5           36           50                24
399           4           36           50                24

[400 rows x 4 columns]

### Estimates utility values 

> To find the increased willingness to pay for extending the heat retention time from 12 hours to 18 hours, we calculate the utility difference and convert it into monetary terms:

In [40]:

# Fit a linear regression model to estimate utility values
X = preferences_encoded.drop(columns=['preference'])
y = preferences_encoded['preference']
model = LinearRegression()
model.fit(X, y)

# Extract the utility values
utility_values = pd.Series(model.coef_, index=X.columns)
utility_values

# Print utility values for each attribute level
print("Utility Values:")
print(utility_values)

# # Summarize the utility values by attribute
# utility_summary = utility_values.groupby(lambda x: x.split('_')[0]).mean()
# print("\nUtility summary:")
# print(utility_summary)

Utility Values:
capacity_oz         3.394965e+12
cost_dollar         9.765625e-03
cold_retention_h   -3.394965e+12
dtype: float64